@font-face {
    font-family: Raleway;
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
}

body {

    font-family: Raleway, serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;


}

header, main, footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

header {
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 15%;
}


main {
    margin: auto;

}

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;

}

.logo {
    height: 50px;

}

.logo-div {
    width: 60%;
}

.nav-div {

    min-width: 190px;
    display: flex;
    justify-content: center;
    width: 100%;
    order: 1;

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.inscription {
    display: flex;
    width: 10%;
    justify-content: center;
    align-items: center;
}

.inscription a {
    color: #0065FC;
    font-weight: bold;
    padding: 5px;

}

.menu-link a {
    padding: 10px;
    border-bottom: 2px solid #F2F2F2;

}

.menu-link a:hover {
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}

h1 {
    width: 100%;
    font-size: 1.3em;
    margin: 0;
}

h2 {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-left: 10px;
}

h3 {
    width: 90%;
    font-size: 1em;
    font-weight: normal;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
}

.search-button {
    background-color: #0065FC;
    border-radius: 0 12px 12px 0;
    padding: 12px;
    font-weight: bold;
    color: white;
    border: none;
    display: flex;
}

.search-desktop{
    display: none;
}


.fa-map-marker-alt {
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
    padding: 12px;

}

#locationsearch {
    color: black;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.filter-title{
    margin-right: 15px;
    width: 100%;
}

.filter {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px 0 15px 0;
    width: 90%;
}

.filter-button {
    font-family: Raleway, serif;
    display: flex;
    align-items: center;
    margin: 15px 50px 15px 0;
    padding: 10px 10px 10px 0;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    text-align: center;
    background-color: white;
}

.icon {
    padding: 8px;
    margin-right: 5px;
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
}

button:hover {
    transform: scale(1.2);
    transition-duration: 200ms;
}

.information {
    display: flex;
    width: 100%;
    font-size: small;
    margin-bottom: 10px;
    align-items: center;
    height: 30px;
}

.fa-info {
    padding: 4px;
    margin-right: 5px;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    height: 15px;
    width: 15px;
    color: #0065FC;
}

.fa-info::before {
    padding: 5px;
}

#rent, #popular, #activities {
    min-width: 280px;
    display: flex;
    flex-wrap: wrap;
}

#rent, #popular {
    width: 100%;
    padding: 1%;
    height: auto;
    margin-bottom: 15px;
    justify-content: center;
}

#rent {

    order: 1;
}

#popular {

    background-color: #F2F2F2;
    align-items: center;

}

#activities {
    flex-direction: column;
    align-items: center;
    width: 100%;
    order: 1;
}

.rent-title, .popular-title, .activities-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
}

.activities-title {
    order: 1;
}

.rent-item, .activities-item, .popular-item {
    display: flex;
    background-color: white;
    border-radius: 20px;
    border: solid 1px #F2F2F2;
    box-shadow: 1px 1px 10px #F2F2F2;
}

.rent-item {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 13%;
    max-height: 250px;
    min-width: 180px;
    max-width: 450px;
    padding: 5px;
    margin: 1%;
}

.popular-item {
    flex-direction: row;
    align-items: center;
    min-width: 250px;
    max-width: 450px;
    max-height: 200px;
    margin: 1%;
    padding: 5px;
    width: 90%;
    height: 27%;
}

.activities-item {
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    min-width: 150px;
    max-height: 250px;
    margin: 5px;
}

@media screen and (min-width: 1024px) {
    #rent, #activities, .activities-title {
        order: 0;
    }

    #rent{
        width: 65%;
        margin-right: 10px;
    }

    #popular{
        width: 22%;
    }

    h2 {
        justify-content: flex-start;
    }

    .rent-item {
        height: 32%;
        width: 29%;
    }

    main {
        margin-left: 15px;

    }

}

@media screen and (min-width: 769px){
    #activities {
        align-items: flex-start;
    }

    .activities-item{
        width: 20%;
    }

    .activities-description {
        height: unset;
    }
    .big {
        min-height: 93%;
        max-height: 100px;
    }

    .mid {
        min-height: 50%;
        max-height: 60px;
    }

    .small {
        min-height: 40%;
        max-height: 30px;
    }

    .logo-div{
        min-width: 65%;
    }
}
@media screen and (min-width: 426px) {


    #rent, #popular {
        background-color: #F2F2F2;
        border-radius: 20px;
    }



    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #F2F2F2;


    }

    .filter {
        flex-direction: row;
        align-items: center;
    }

    .nav-div {
        order: 0;
        justify-content: space-around;
        width: 15%;
    }

    .menu-link a {
        border-bottom: none;
    }

    .menu-link a:hover {
        padding-top: 15px;
        border-top: 2px solid #0065FC;
        border-bottom: none;
        color: #0065FC;
    }

    .fas.fa-search{
        display: none;
    }

    .search-desktop{
        display: flex;
    }
}

.fas.fa-chart-line{
    padding-right: 15px;
}

.rent-item-link, .activities-item-link {
    display: flex;
    height: 100%;
    width: 100%;
}

.rent-item-box, .activities-item-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activities-item-box {
    justify-content: space-between;
}

.rent-image-div {
    display: flex;
    height: 50%;
}

.activities-image-div {
    min-height: 60%;
    height: 100%;
}

.popular-image-div {
    width: 35%;
    height: 100%;
}

.rent-image, .activities-image, .popular-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.rent-image {
    border-radius: 20px 20px 0 0;
}

.activities-image {
    border-radius: 20px 20px 0 0;
}

.popular-image {
    border-radius: 20px 0 0 20px;
}

.rent-description, .activities-description {
    margin: 5px;
}

.rent-description, .popular-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rent-description {
    height: 50%;
    width: 90%;
}

.popular-description {
    height: 100%;
    width: 60%;
    margin-left: 5%;
}

.activities-description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

.rent-link-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    font-weight: bold;
}

.footer-about, .footer-help, .footer-rent {
    min-width: 220px;
}

.link-more {
    justify-content: flex-end;
    width: 100%;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}