

@font-face {
    font-family: Raleway;
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
}

body {
    width: 80%;
    font-family: Raleway, serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 90%;
}


main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    background-color: #F2F2F2;
    margin-bottom: 30px;

}

.logo {
    height: 50px;
    position: absolute;
    left: 10%;
    top: 20px;

}

h1 {
    width: 90%;
    font-size: 1.5em;
}

h2 {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

h3 {
    width: 90%;
    font-size: 1em;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

a:visited{
    text-decoration: none;
    color: black;
}

a{
    text-decoration: none;
}

.menu {
    display: flex;
    flex-direction: row;
}


.inscription a{
    color: #0065FC;
    font-weight: bold;
    padding: 5px;
}

.menu-link{
    padding: 5px;
}

.menu-link a:hover {
    padding-top: 15px;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#rent, #popular {
    background-color: #F2F2F2;
    padding: 1%;
    border-radius: 20px;
    height: auto;
    margin-bottom: 15px;
}

#rent {
    width: 65%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 2%;
    order: 1;
}

#popular {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    min-width: 320px;

}

#activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    min-width: 320px;
    order: 1;
}

.rent-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}

.popular-title {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    height: 5%;
}

.activities-title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
    order: 1;
}

.rent-item, .activities-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    border: solid 1px #F2F2F2;
    box-shadow: 1px 1px 10px #F2F2F2;

}

.rent-item {
    height: 14%;
    max-height: 250px;
    width: 30%;
    min-width: 275px;
    padding: 5px;
    margin: 1%;
}

@media screen and (min-width: 1761px) {
    .rent-item {
        height: 41%;
    }

}

@media screen and (min-width: 1150px) and (max-width: 1760px) {
    .rent-item {
        height: 25%;
    }

}

.activities-item {
    width: 20%;
    min-width: 200px;
    max-height: 250px;
    margin: 5px;
}

@media screen and (min-width: 1000px) {
    .big {
        min-height: 93%;
        max-height: 100px;
    }

    .mid {
        min-height: 50%;
        max-height: 60px;
    }

    .small {
        min-height: 40%;
        max-height: 30px;
    }

    #rent , #activities, .activities-title{
        order: 0;
    }
}


.rent-item-link, .activities-item-link {
    display: flex;
    height: 100%;
    width: 100%;
}

.rent-item-box, .activities-item-box {
    display: flex;
    flex-direction: column;
}

.rent-image-div {
    display: flex;
    height: 50%;
}

.activities-image-div {
    height: 80%;
}

.rent-image, .activities-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.activities-image{
    height: 100%;
}

.rent-description, .activities-description {
    margin: 5px;
}

.rent-description {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
}

.activities-description {
    text-align: center;
    height: 40px;
}


.rent-link-more {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}


.popular-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    border: solid 1px #F2F2F2;
    box-shadow: 1px 1px 10px #F2F2F2;
    min-width: 300px;
    max-height: 150px;
    margin: 1%;
    padding: 5px;
    width: 80%;
    height: 32%;
}

.popular-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;

}

.popular-description {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;

}

.popular-image-div {
    width: 35%;
    height: 100%;
}


.filter {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    width: 90%;
}

.filter-button {
    font-family: Raleway, serif;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px 10px 10px 0;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    text-align: center;
    background-color: white;
}

button:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 200ms;
}

.icon {
    padding: 8px;
    margin-right: 5px;
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
}


.link-more {
    justify-content: flex-end;
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
}

.search-button {
    background-color: #0065FC;
    border-radius: 0 12px 12px 0;
    padding: 12px;
    font-weight: bold;
    color: white;
    border: none;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
    padding: 12px;

}

#locationsearch {
    color: black;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}