@font-face {
    font-family: Raleway;
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
}

body {
    width: 80%;
    font-family: Raleway, serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

header, main, footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

header {
    justify-content: space-between;
    align-items: center;
    height: 100px;
}


main {
    margin: auto;

}

footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    margin-bottom: 30px;

}

.logo {
    height: 50px;
    order: 1;
}

.logo-div {
    width: 50%;
}

.menu-div {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: row;
}

.inscription {
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
}

.inscription a {
    color: #0065FC;
    font-weight: bold;
    padding: 5px;

}

.menu-link {
    padding: 5px;
}

.menu-link a:hover {
    padding-top: 15px;
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

h1 {
    width: 90%;
    font-size: 1.5em;
    margin: 0;
}

h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 10px;
}

h3 {
    width: 90%;
    font-size: 1em;
    font-weight: normal;
}

li {
    padding: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
}

.search-button {
    background-color: #0065FC;
    border-radius: 0 12px 12px 0;
    padding: 12px;
    font-weight: bold;
    color: white;
    border: none;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
    padding: 12px;

}

#locationsearch {
    color: black;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.filter {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 0 15px 0;
    width: 90%;
}

.filter-button {
    font-family: Raleway, serif;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px 10px 10px 0;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    text-align: center;
    background-color: white;
}

.icon {
    padding: 8px;
    margin-right: 5px;
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
}

button:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 200ms;
}

.information{
    display: flex;
    width: 100%;
    font-size: small;
    margin-bottom: 10px;
    align-items: center;
    height: 30px;
}

.fa-info {
    padding: 8px;
    margin-right: 5px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    color: #0065FC;
}

#rent, #popular, #activities{
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
}
#rent, #popular {
    width: 90%;
    padding: 1%;
    height: auto;
    margin-bottom: 15px;
    justify-content: space-around;
}

#rent {
    margin-right: 2%;
    order: 1;
}

#popular {

    background-color: #F2F2F2;
    align-items: center;

}

#activities {
    flex-direction: column;
    align-items: center;
    width: 100%;
    order: 1;
}

.rent-title, .popular-title, .activities-title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}

.popular-title {
    align-self: flex-start;
}

.activities-title {
    order: 1;
}

.rent-item, .activities-item, .popular-item{
    display: flex;
    background-color: white;
    border-radius: 20px;
    border: solid 1px #F2F2F2;
    box-shadow: 1px 1px 10px #F2F2F2;
}

.rent-item {
    flex-direction: column;
    justify-content: space-between;
    height: 14%;
    max-height: 250px;
    width: 30%;
    min-width: 300px;
    padding: 5px;
    margin: 1%;
}

.popular-item {
    flex-direction: row;
    align-items: center;
    min-width: 300px;
    max-height: 200px;
    margin: 1%;
    padding: 5px;
    width: 90%;
    height: 27%;
}

.activities-item {
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-width: 200px;
    max-height: 250px;
    margin: 5px;
}

@media screen and (min-width: 1761px) {
    .rent-item {
        height: 41%;
    }

}

@media screen and (min-width: 920px) and (max-width: 1760px) {
    .rent-item {
        height: 25%;
    }

    .rent-link-more {
        justify-content: flex-start;
    }

}

@media screen and (min-width: 1000px) {
    .big {
        min-height: 93%;
        max-height: 100px;
    }

    .mid {
        min-height: 50%;
        max-height: 60px;
    }

    .small {
        min-height: 40%;
        max-height: 30px;
    }

    #rent, #popular {
        background-color: #F2F2F2;
        border-radius: 20px;
    }

    #activities {
        align-items: flex-start;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        background-color: #F2F2F2;
        margin-bottom: 30px;

    }

    .filter{
        flex-direction: row;
        align-items: center;
    }

}

@media screen and (min-width: 1400px) {
    #rent {
        width: 65%;
    }

    #popular {
        width: 25%;
    }

    #rent, #activities, .activities-title {
        order: 0;
    }

    h2 {
        justify-content: flex-start;
    }
}

.rent-item-link, .activities-item-link {
    display: flex;
    height: 100%;
    width: 100%;
}

.rent-item-box, .activities-item-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rent-image-div {
    display: flex;
    height: 50%;
}

.activities-image-div {
    height: 80%;
}

.popular-image-div {
    width: 35%;
    height: 100%;
}

.rent-image, .activities-image, .popular-image{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}
.rent-image{
    border-radius: 20px 20px 0 0;
}
.activities-image {
    border-radius: 20px 20px 0 0;
}

.popular-image {
    border-radius: 20px 0 0 20px;
}

.rent-description, .activities-description {
    margin: 5px;
}

.rent-description, .popular-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.rent-description {
    height: 50%;
    width: 90%;
}

.popular-description {
    height: 100%;
    width: 60%;
    margin-left: 5%;
}

.activities-description {
    text-align: center;
    height: 40px;
}

.rent-link-more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    font-weight: bold;
}

.footer-about, .footer-help, .footer-rent {
    min-width: 220px;
}

.link-more {
    justify-content: flex-end;
    width: 100%;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}