@font-face {
    font-family: Raleway;
    src: url("Raleway/Raleway-VariableFont_wght.ttf");
}

body {
    width: 80%;
    font-family: Raleway, serif;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100px;
    width: 100%;
}


main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    background-color: #F2F2F2;
    margin-bottom: 30px;

}

.logo {
    height: 50px;
    position: absolute;
    left: 10%;
    top: 20px;

}

h1 {
    width: 90%;
    font-size: 1.5em;
}

h2 {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

h3 {
    width: 90%;
    font-size: 1em;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

.menu {
    display: flex;
    flex-direction: row;
}

.menu-link, .inscription {
    margin-right: 30px;
    padding-top: 15px;
}

.menu-link:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.menu-link:visited {
    color: black;
}



#rent, #popular {
    background-color: #F2F2F2;
    padding: 25px;
    border-radius: 20px;
    height: auto;
    margin-bottom: 15px;
}

#rent {
    width: 65%;
    min-width: 325px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-right: 2%;
}

#popular {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 25%;
    min-width: 320px;

}

#activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 750px;
    width: 100%;
}

.rent-title{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}

.rent-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 30%;
    max-height: 250px;
    min-width: 275px;
    padding: 5px;
    margin: 5px;
}

.rent-item-link{
    display: flex;
    height: 100%;
    width: 100%;
}

.rent-item-box{
    display: flex;
    flex-direction: column;
}

.rent-image-div{
    display: flex;
    height: 50%;
}

.rent-image {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;

}

.rent-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    height: 50%;
    margin: 5px;
}

.rent-link-more{
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}



.popular-title {
    height: 11%;
}

.popular-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    min-width: 300px;
    max-height: 150px;
    margin: 1% auto 1% auto;
    padding: 2.5%;
    width: 80%;
    min-height: 27%;
}

.popular-image {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;

}

.popular-description {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;

}

.popular-image-div {
    width: 35%;
    height: 100%;
}

.activities-item {
    width: 20%;
    height: 45%;
}

.filter {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    width: 90%;
}

.filter-button {
    font-family: Raleway, serif;
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 10px 10px 10px 0;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #F2F2F2;
    text-align: center;
    background-color: white;
}

button:hover{
    transform: scale(1.2,1.2);
    transition-duration: 200ms;
}

.icon {
    padding: 8px;
    margin-right: 5px;
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
}


.link-more {
    justify-content: flex-end;
    width: 100%;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
}

.search-button {
    background-color: #0065FC;
    border-radius: 0 12px 12px 0;
    padding: 12px;
    font-weight: bold;
    color: white;
    border: none;
}

.fa-map-marker-alt {
    background-color: #F2F2F2;
    border-radius: 12px 0 0 12px;
    padding: 12px;

}

#locationsearch {
    color: black;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #F2F2F2;
}