@font-face {
    font-family: 'Raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

body {
    font-family: 'Raleway', Arial, Serif;
    font-size: 1em;
}

h1 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    text-align: center;
    font-weight: normal;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-link{
    display: flex;
    flex-direction: row;
}





